# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 36746f0eb3c57b16be0278bdf9a9418ec225ecd5f9a3183697a3dc0dfd3aa1d05d285b3ed42b77c92ae6deee7af6a2b9bc87f119eca9c74810dcc43ddd5eb02b
  google_api_key: <%= ENV["GOOGLE_API_KEY"] %>
  govuk_rate_limit_token: pfB6uNKYC8sB9PVgBLdwFToN
  govuk_basic_auth_credentials: "test:test"

test:
  secret_key_base: b81a573d7703bfdf5c80f2a201c9e9d7ec5aad3326e252534568e1a82a7fc79a09f0d8ebd5e7e0fb5fc584f6a23440f2be5c986ec723df389ef7527e3e7ffc12
  google_api_key: test
  govuk_rate_limit_token: pfB6uNKYC8sB9PVgBLdwFToN
  govuk_basic_auth_credentials: "test:test"

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  google_api_key: <%= ENV["GOOGLE_API_KEY"] %>
  govuk_rate_limit_token: <%= ENV.fetch("GOVUK_RATE_LIMIT_TOKEN", ENV["RATE_LIMIT_TOKEN"]) %>
  govuk_basic_auth_credentials: <%= ENV["GOVUK_BASIC_AUTH_CREDENTIALS"] %>
